
body{
background-color: yellow;
}


#title{
    text-align: center;
    background-color: red;
} 

#ptitle{
    text-align: center;
    background-color: orange;
} 

#main{

    background-color: yellow;
   
}

#rimage{
    height: 300px;
    width: 300px;
    object-fit: scale-down;
    overflow: hidden;
}

#limage{
    height: 300px;
    width: 300px;
    overflow: hidden;
    align-self: flex-start;
}

#carouselboard{
    height: 300px;
    width: 300px;
    overflow: hidden;
    align-self: flex-start;
  }



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

