
body{
background-color: yellow;
}


#title{
    text-align: center;
    background-color: red;
} 

#ptitle{
    text-align: center;
    background-color: orange;
} 

#main{

    background-color: yellow;
   
}

#rimage{
    height: 300px;
    width: 300px;
    object-fit: scale-down;
    overflow: hidden;
}

#limage{
    height: 300px;
    width: 300px;
    overflow: hidden;
    align-self: flex-start;
}

#footer{
    min-height: 300px;
}

#carouselboard{
    height: 300px;
    width: 300px;
    overflow: hidden;
    align-self: flex-start;
}

#footer{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: space-evenly;
}

#footerimg{
    height: 500px;
    width: 500px;
}



.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

